@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&display=swap');

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

.encabezado {
    background-color: #1CD1B0;
    height: 38px;
    padding: 10px 15px;
    font-family: "Roboto";
}

header {
    background-color: #00669F;
    height: 101px;
    padding: 25px 15px;
    font-family: "Roboto";
    position: sticky;
    top: 0;
    z-index:auto;
}

main {
    display: flex;
    position: relative;
    justify-content: center;
}

.card1 {
    background-image: url(img/Fondo\ de\ Batman.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 529px;
    margin: 150px 15px 150px;
    background-color: #F3F3F3;

}

.card2 {
    background-image: url(img/Fondo\ de\ Harley.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 529px;
    margin: 150px 15px 150px;
    background-color: #F3F3F3;

}

.card3 {
    background-image: url(img/Fondo\ de\ Batman.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 529px;
    margin: 150px 15px 150px;
    background-color: #F3F3F3;
}

.personaje {
    border-radius: 50%;
    position: relative;
    left: 55px;
    top: 130px
    
}

.corazon {
    position: relative;
    left: 15px;
    bottom: 78px;
}

.descripcion {
    position: relative;
    top: 130px;
    text-align: justify;
    padding: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

span h2 {
    text-align: center;
    padding-bottom: 20px;
}

.boton {
    background-color: #00669F;
    padding: 13px 30px;
    border: 0;
    position: relative;
    top: 15px;
    left: 70px;
}

.boton a {
    font-family: "Roboto";
    color: white;
    text-decoration: none;
}

.pie-de-pagina {
    background-color: #00669F;
    height: 51px;
    padding: 12px;
}

